/* The switch - the box around the slider */

.switch {
  --switch-width: 2em;
  --switch-height: 0.8em;
  --slider-dot-size: 0.8; /* in percent of slider height */
  margin-right: 0.5em;
  position: relative;
  display: inline-block;
  min-width: var(--switch-width);
  height: var(--switch-height);
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: calc(var(--switch-height) * var(--slider-dot-size));
  width: calc(var(--switch-height) * var(--slider-dot-size));
  left: calc(var(--switch-height) * calc((1 - var(--slider-dot-size)) / 2));
  bottom: calc(var(--switch-height) * calc((1 - var(--slider-dot-size)) / 2));
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: var(--color-primary);
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  /* -webkit-transform: translateX(var(--switch-width)); */
  /* -ms-transform: translateX(var(--switch-width)); */
  transform: translateX(calc(var(--switch-width) - var(--switch-height)));
}

/* Rounded sliders */
.slider.round {
  border-radius: calc(var(--switch-height) / 2);
}

.slider.round:before {
  border-radius: 50%;
}
