body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.day-container {
  margin: 1em;
  padding: 0.4em;
  font-size: 1rem;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.01em;
}

.day-title {
  display: inline-block;
  font-size: 1.5em;
  font-weight: 300;
  text-transform: uppercase;
  text-align: center;
}

.day-date {
  font-size: 1em;
  font-weight: 200;
  margin-right: 1em;
  margin-left: 0.5em;
}

.day-options {
  display: block;
  flex-wrap: nowrap;
}

.compile-card {
  padding: 0.5em;
  border-radius: 4px;
  box-shadow: 1.5px 1.5px 2px 3px rgba(0, 0, 0, 0.3);
}

.menu-card {
  padding: 0.5em;
}

.recipe-title {
  text-transform: uppercase;
  font-size: 1.5em;
  font-weight: 500;
}

.recipe-subtitle {
  font-weight: 300;
  font-size: 1.2em;
  margin-bottom: 0.5em;
}

.recipe-description {
  margin-top: 0.7em;
}

.recipe-ingredients {
  padding-left: 1em;
  font-size: 1em;
  /* display: inline-flex; */
}

.ingredient-pieces {
  display: inline-flex;
  padding-left: 0.3em;
}

.recipe-instructions {
  padding: 0.5em;
  font-size: 1.2em;
  display: block;
}

.recipe-instruction {
  /* border: 1px solid red; */
  margin-top: 0.5em;
}

.day-header {
  display: flex;
  align-items: baseline;
  flex-wrap: wrap;
}

.hide {
  display: none;
}

.divider {
  border-top: 1px solid rgba(0, 0, 0, 0.3);
}
