:root {
  --color-primary: rgb(63, 81, 181);
  --color-hover: rgb(61, 78, 174);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.3;
  touch-action: manipulation;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#main-container {
  max-width: 1000px;
  margin: auto;
}

#plan-button {
  margin: 0.5em;
}

#recipe-type-select {
  -webkit-appearance: none;
  font: inherit;
  margin: 0.5em;
  border: 1px solid gray;
  border-radius: 0.25em;
}

#option-bar-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.day-container {
  margin: 1em;
  padding: 0.4em;
  font-size: 1rem;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  letter-spacing: 0.01em;
}

.day-header {
  display: flex;
  align-items: baseline;
  flex-wrap: wrap;
}

.day-title {
  font-size: 1.5em;
  font-weight: 300;
  text-transform: uppercase;
}

.day-date {
  font-weight: 200;
  margin-right: 0.75em;
  margin-left: 0.5em;
  min-width: 60px;
  flex: 1;
}

.day-options {
  margin-bottom: 0.3em;
  min-width: 250px;
  display: flex;
}

.serving {
  flex: 1;
  align-self: flex-end;
  text-align: right;
  place-content: end;
  font-weight: 200;
  margin-left: 1em;
  margin-right: 0.5em;
}

button {
  font-weight: 400;
  font-size: 1em;
  border: 0.5px solid black;
  border-radius: 0.2em;
  min-width: 2em;
  background-color: var(--color-primary);
  color: white;
}

button:hover {
  background-color: var(--color-hover);
}

.compile-card {
  padding: 0.5em;
  /* border-top: 1px solid black; */
  /* border-radius: 4px; */
  /* box-shadow: 1.5px 1.5px 2px 3px rgba(0, 0, 0, 0.3); */
}

.menu-card {
  padding: 0.5em;
}

.recipe-title {
  text-transform: uppercase;
  font-size: 1.5em;
  font-weight: 500;
}

.recipe-subtitle {
  margin-top: 0.3em;
  font-weight: 300;
  font-size: 1.2em;
  margin-bottom: 0.5em;
}

.recipe-description {
  margin-top: 0.7em;
}

.ingredient-container {
  display: block;
}

.recipe-ingredient {
  padding-left: 1em;
}

.ingredient-pieces {
  display: inline-block;
  padding: 0.2em;
  padding-bottom: 0.3em;
}

.recipe-instructions {
  font-size: 1.2em;
  display: block;
}

.recipe-instruction {
  padding: 0.5em;
  padding-left: 0.3em;
}

.hide {
  display: none;
}

.divider {
  border-top: 1px solid rgba(0, 0, 0, 0.3);
}
